:root {
    --color-textPrincipal:red;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
font-size:62.5%;  /* 1rem == 16px*/
}

body{
    background-color:#FEFCF5;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 1.2rem;
  object-fit: cover;
  border: 1px solid #E3E3E3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3rem;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}
h2 {
    font-size: 2rem;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}
li {
    font-size: 1.1rem;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
p{
    font-size: 1.5rem;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.container{
  width: 100%;
  height: 100vh;
  max-width: 120rem; /* ancho máximo */
  margin: 0 auto;    /* centra horizontalmente */
  padding: 0 23rem;
}

/*main*/
.main__textPrincipal {
    text-align: center;
    margin-top: 3rem;
    color: var(--color-textPrincipal);
    line-height: 1.3;
}

.main__card {
    margin-top: 1.5rem;
}

.main__card p {
    margin: 1.5rem 0 3rem 0;
    line-height: 1.4;
}

/*section*/
.seccionIngredientes {
    margin-top: 3rem;
}

.seccionIngredientes h2 {
    color: var(--color-textPrincipal);
    margin-bottom: 1rem;
}
.seccionIngredientes hr {
    margin-bottom: 2rem;
    border: none;
    height: .2rem;
    background-color: #E6A1AF;
}

.seccionIngredientes__list {
    background-color: #fff;
    height: auto;
    padding: 2rem 0 2rem 3rem;
    border-radius: 1.2rem;
    border: 1px solid #E3E3E3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.seccionIngredientes__list ul li {
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

.seccionPreparacion {
    margin-top: 2rem;
}

.seccionPreparacion h2 {
    margin-bottom: 1rem;
    color: var(--color-textPrincipal);
}

.seccionPreparacion hr {
    border: none;
    height: .2rem;
    background-color: #E6A1AF;
    margin-bottom: 2rem;
}
.seccionPreparacion__list {
    background-color: #fff;
    height: auto;
    padding: 2rem 0 2rem 2rem;
     border-radius: 1.2rem;
    border: 1px solid #E3E3E3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.seccionPreparacion__list ol li {
    margin-bottom: .5rem;
}

.footer {
    margin-top: 2rem;
    height: 10rem;
}

.footer hr {
    margin-bottom: 2rem;
    border: none;
    height: .1rem;
    background-color: #E6A1AF;
}

.footer p {
    text-align: center;
    font-size: 2rem;
    color: var(--color-textPrincipal);
    
}